.body_class{
    background-image: url(./images/background\ 1.png);
    width: 100%;
    max-width: 1366px;
    max-height: 768px;
    margin: 0 auto;
}
/* ___Header___ */
.header_container{
    width: 100%;
    padding-bottom: 17px;
   
}
.header_menu{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    width: 1028px;
    height: 61px;
    margin: 0 auto;
}
.logo{
    display: flex;
    height: max-content;
    margin: auto 0;
    text-decoration: none;
}
.logo img{
    width: 53px;
    height: 47px;
}
.logo_txt{
    text-transform: uppercase;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.first_txt{
    color: #FFF;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}
.second_txt{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.contacts{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    justify-content: space-between;
    text-align: end;
    height: 61px;
}

/* ___Main___ */
.main_container{
    width: 100%;
    display: flex;
}
.deck{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 1030px;
    height: 560px;
    justify-content: space-between;
    padding-bottom: 48px;
}
.deck img{
    width: 300px;
    height: 220px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.card_title{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-top: 20px;
}
/* ___Footer___ */
.footer_container{
    display: flex;
    width: 100%;
    padding-bottom: 15px;
}
.footer_info{
    display: flex;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}
/* ___Howers___ */
.logo:hover p{
    color: #F26522;
}
.logo:hover img{
    content: url(./images/logo\ 2.png);
}
.mail:hover{
    color: #F26522;
}
.phone:hover{
    color: #F26522;
}
/* ___Card_Hower___ */
.card:hover h2{
    color: #F26522;
}
.card_hover{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 0px;
    margin: 0 auto;
    background-color: #F26522;
    position: absolute;
    bottom: 22%;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease;
}
.hover_txt{
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    padding-top: 7px;
    padding-left: 16px;
}
.price{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 12px;
    padding-top: 8px;
    padding-left: 16px;
}
.hover_details{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding-right: 37px;
    padding-top: 29px;
    padding-bottom: 12px;
}
.hover_details::after{
    content:""; 
    width: 10px;
    height: 10px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    background-color: #F26522;
    position: absolute;
    right: 16px;
    bottom: 9px;
    transform: translateY(-50%) rotate(45deg);
}
.card:hover .card_hover{
    height: 55px;
}
